__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store
exercise_1/.gradio/
exercise_1/models_checkpoint/*.pt
!exercise_1/models_checkpoint/vit_small_head.pt
!exercise_1/models_checkpoint/mobilenet_v3_small_head.pt
